body {
    background-color:#fef2f0 ;    
}

#root {
    height: 70vh;    
}

.container {
    height: 100%;
}

#session-timer-box {
    border: solid 3px black;
    border-radius: 10px;
    height: 55%;    
}

/*Remove height stretching properties for the desktop screen*/
@media (min-width: 992px) {
    .container {
        height: unset;
    }
    #session-timer-box {       
        height: unset;    
    }
}