body {
    background-color:#fef2f0 ;    
}

#root {
    height: 70vh;    
}

#length-btn-box {
    border: solid;
}

#session-timer-box {
    border: solid 3px black;
    border-radius: 10px;
    
}

#time-left {
    font-size: 5rem;
}

#action-tbn-box {
    
}

@media (max-width: 992px) {
    .container {
        height: 100%;
    }

    #length-btn-box {
        height: 30%;        
    }

    #session-timer-box {       
        height: 55%;    
    }

    #action-tbn-box {
        height: 15%;
    }
}