body {
    background-color:#fef2f0 ;    
}

#root {
    height: 100vh;    
}

#length {
    height: 20%;
}

#session-timer {
    border: solid 3px black;
    border-radius: 10px;
    height: 70%;    
}

#timer {
    font-size: 5rem;
}

#action-buttons {
    height: 10%;
}

@media (max-width: 992px) {
    .container {
        height: 80vh;
    }
}